style.
  #widget-#{widget._id} {
    overflow: hidden;
  }

  #widget-#{widget._id} div {
    transition: transform 750ms;
    transform: translateY(0px);
  }

  #widget-#{widget._id} li {
    margin-bottom: 40px;
  }

  #widget-#{widget._id} h3 {
    margin: 0 0 10px;
  }

  #widget-#{widget._id} h4 {
    margin: 0 20px 10px;
  }

  #widget-#{widget._id} p {
    margin: 0 20px 5px;
  }


ul.list-unstyled
  if data.length > 0
    each incident in data
      li
        if incident.location != ''
          h3=incident.location
        h4=incident.description
        p Start: #{incident.start}
        p Ende: #{incident.end}
  else
    li
      h2='Keine Verkehrsmeldungen vorhanden'


script.
  var moduleEl = document.getElementById('widget-#{widget._id}'),
      wrapperEl = moduleEl.querySelector('div'),
      incidentsEls = moduleEl.querySelectorAll('li');

  var timer = 1000 * #{widget.settings.timer} || 1000*15;
  var index#{widget._id} = 1;

  setInterval(function(){
    if(index#{widget._id} == incidentsEls.length) {
      index#{widget._id} = 0;
    }
    wrapperEl.style.transform = 'translateY(-' + incidentsEls[index#{widget._id}].offsetTop + 'px)';
    index#{widget._id}++;
  }, timer);




