style.
  #widget-#{widget._id} {
    overflow: hidden;
  }

  #widget-#{widget._id} div {
    transition: transform 750ms;
    transform: translateY(0px);
  }

  #widget-#{widget._id} li {
    margin-bottom: 40px;
  }

  #widget-#{widget._id} h3 {
    margin: 0 0 10px;
  }

  #widget-#{widget._id} h4 {
    margin: 0 20px 10px;
  }

  #widget-#{widget._id} p {
    margin: 0 20px 5px;
  }
  #widget-#{widget._id} svg {
     position: absolute;
     right: 15px;
     top: 10px;
   }
svg(xmlns="http://www.w3.org/2000/svg" width="50px" height="50px" viewBox="0 0 50 50")
  path(fill="#fff" d="M21.4,10.6l-8-8c-0.8-0.8-2-0.8-2.8,0l-8,8c-0.8,0.8-0.8,2,0,2.8l8,8c0.8,0.8,2,0.8,2.8,0l8-8 C22.2,12.6,22.2,11.4,21.4,10.6z M13,17h-2v-2h2V17z M13,13h-2V7h2V13z")

ul.list-unstyled
  if data.length > 0
    each incident in data
      li
        if incident.location != ''
          h3=incident.location
        h4=incident.description
        p Zeitraum: #{incident.start} - #{incident.end}
  else
    li
      h2='Keine Verkehrsmeldungen vorhanden'


script.
  var moduleEl = document.getElementById('widget-#{widget._id}'),
      wrapperEl = moduleEl.querySelector('ul'),
      incidentsEls = moduleEl.querySelectorAll('li');

  var timer = 1000 * #{widget.settings.timer} || 1000*15;
  var index#{widget._id} = 1;

  setInterval(function(){
    if(index#{widget._id} == incidentsEls.length) {
      index#{widget._id} = 0;
    }
    wrapperEl.style.transform = 'translateY(-' + incidentsEls[index#{widget._id}].offsetTop + 'px)';
    index#{widget._id}++;
  }, timer);




